@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

body {
    background: #fff;
}

section {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

h1 {
    width: 454px;
    height: 100px;
    margin-top: 306px;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;

    color: #00EC6D;
    z-index: 2000;
}

button {
    width: 151px;
    height: 70px;
    margin-top: 70px;

    background: #001974;
    border: 5px solid #00EC6D;
    box-sizing: border-box;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    text-align: center;

    color: #E5E5E5;
    z-index: 2001;

}

.wave-support {
    width: 100%;
    height: 250px;
    background-color: #001974;

    position: absolute;
    bottom: 0;
    left: 0;
}

.wave-support.active {
    animation: subindo 4s linear forwards;
}

.wave {
    position: absolute;
    bottom: 250px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(onda.png);
    background-size: 1000px 110px;
}

.wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 250px;
}

.wave1.active {
    animation: subindoOnda 4s linear forwards, animate 30s linear infinite;
}

.wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 260px;
}

.wave2.active {
    animation: subindoOnda2 4s linear forwards, animate2 15s linear infinite;
}

.wave.wave3 {
    animation: animate 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 265px;
}

.wave3.active {
    animation: subindoOnda3 4s linear forwards, animate 30s linear infinite;
}

.wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 270px;
}

.wave4.active {
    animation: subindoOnda4 4s linear forwards, animate2 5s linear infinite;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -1000px;
    }
}

@keyframes subindo {
    0% {
      height: 250px;
      transform: rotate(0deg); 
    }
    25% {
      height: 300px;
      transform: rotate(0deg); 
    }
    50% {
      height: 500px;
      transform: rotate(0deg); 
    }
    75% {
      height: 650px;
      transform: rotate(0deg); 
    }
    100% {
      height: 800px;
      transform: rotate(0deg); 
    }
}

@keyframes subindoOnda {
    0% {
      top: 600px;
      transform: rotate(0deg); 
    }
    25% {
      top: 550px;
      transform: rotate(0deg); 
    }
    50% {
      top: 350px;
      transform: rotate(0deg); 
    }
    75% {
      top: 200px;
      transform: rotate(0deg); 
    }
    100% {
      top: 40px;
      transform: rotate(0deg); 
    }
}

@keyframes subindoOnda2 {
    0% {
      top: 600px;
      transform: rotate(0deg); 
    }
    25% {
      top: 540px;
      transform: rotate(0deg); 
    }
    50% {
      top: 340px;
      transform: rotate(0deg); 
    }
    75% {
      top: 190px;
      transform: rotate(0deg); 
    }
    100% {
      top: 30px;
      transform: rotate(0deg); 
    }
}

@keyframes subindoOnda3 {
    0% {
      top: 600px;
      transform: rotate(0deg); 
    }
    25% {
      top: 535px;
      transform: rotate(0deg); 
    }
    50% {
      top: 335px;
      transform: rotate(0deg); 
    }
    75% {
      top: 185px;
      transform: rotate(0deg); 
    }
    100% {
      top: 25px;
      transform: rotate(0deg); 
    }
}

@keyframes subindoOnda4 {
    0% {
      top: 600px;
      transform: rotate(0deg); 
    }
    25% {
      top: 530px;
      transform: rotate(0deg); 
    }
    50% {
      top: 330px;
      transform: rotate(0deg); 
    }
    75% {
      top: 180px;
      transform: rotate(0deg); 
    }
    100% {
      top: 20px;
      transform: rotate(0deg); 
    }
}

@media (max-width: 500px) {
    h1 {
        width: 354px;
        height: 100px;
        margin-top: 70%;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 1.2;
        text-align: center;
    
        color: #00EC6D;
        z-index: 2000;
    }
    
    button {
        width: 151px;
        height: 50px;
        margin-top: 15%;
    
        background: #001974;
        border: 5px solid #00EC6D;
        box-sizing: border-box;
    
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
    
        color: #E5E5E5;
        z-index: 2001;
    
    }
}



/**.liquid {
    position:absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 512px;
    overflow: hidden;

    background: #001974;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 0.5s;
}

.liquid::before,
.liquid::after
{
    content: '';
    position: absolute;
    width: 150%;
    height: 200%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.liquid::before {
    border-radius: 45%;
    background: rgba(255,255,255,1);
    animation: animate 5s linear infinite;
}

.liquid::after {
    border-radius: 40%;
    background: rgba(255,255,255,0.5);
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}**/